---
import Header from '../components/Header';
import Footer from '../components/Footer';
import ScrollHint from '../components/ScrollHint';
import ProjectCard from '../components/ProjectCard';
import People from '../components/People';
---

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="
      My name is Rowan and I'm an aspiring full-stack developer interested in web design, educational technology and robotics.
      I may poke around with Minecraft modding from time to time as well. Find my projects here!
    " />
    <link rel="icon" type="image" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rowan</title>
  </head>
  <body class="font-sans text-accent">
      <Header client:media="(max-width: 640px)"
        links={[
          {url: "https://rowandev.bsky.social", icon: "i-simple-icons-bluesky", name: "Bluesky"},
          {url: "https://github.com/rowandevving", icon: "i-simple-icons-github", name: "GitHub"},
          {url: "https://modrinth.com/user/rowandev", icon: "i-simple-icons-modrinth" , name: "Modrinth"},
        ]}
      />
      <div class="h-full bg-primary md:p-15 p-10 text-xl ">
        <div class="lg:w-3/4">
          <h1 class="text-5xl font-bold mb-7">
          Hi!
          </h1>
          <p>
          My name is Rowan and I'm an aspiring full-stack developer interested in web design, educational technology and robotics.
          I may poke around with Minecraft modding from time to time as well.
          </p>
          <p class="mt-5">
          These are some of the things I've made and done, which I hope made someone's life a little easier (or at least more fun!)
          </p>
        </div>

        <div class="flex flex-wrap mt-13 lg:flex-row flex-col">
          <ProjectCard
            name="Biome Name Fix"
            description="Create lang files to fix ugly looking client-side biome names when playing with Minecraft worldgen datapacks."
            links={[
              {url: "https://github.com/rowandevving/biomenamefix", icon: "i-simple-icons-github"},
              {url: "https://biomenamefix.streamlit.app", icon: "i-simple-icons-streamlit"}
            ]}
          />
          <ProjectCard
            name="Scape"
            description="A work-in progress open-source alternative to Bing Wallpapers with the same images you love, written in Go."
            links={[
              {url: "https://github.com/rowandevving/scape", icon: "i-simple-icons-github"},
            ]}
          />
          <ProjectCard
            name="This site!"
            description="Powered by Preact, Astro and UnoCSS. Definitely not just my own little CSS playground!"
            links={[
              {url: "https://github.com/rowandevving/rowan.pages.dev", icon: "i-simple-icons-github"},
            ]}
          />
          <ProjectCard
            name="BlueRinth"
            description="A browser extension that allows you to change Modrinth's accent colour. Made in collaboration with WorldWidePixel."
            links={[
              {url: "https://github.com/worldwidepixel/bluerinth", icon: "i-simple-icons-github"},
              {url: "https://chromewebstore.google.com/detail/bluerinth/pfmfgcpffkhjigcklilchkoecmefkela", icon: "i-simple-icons-googlechrome"},
              {url: "https://addons.mozilla.org/firefox/addon/bluerinth/", icon: "i-simple-icons-firefoxbrowser"},
            ]}
          />
          <ProjectCard
            name="Marquee"
            description="A (currently conceptual) platform for creating, using and sharing flashcard packs, for students. Watch this space!"
            links={[]}
          />
          <ProjectCard
            name="OpenCane"
            description="A Fabric mod adding drugs to Minecraft. Why? Don't ask me."
            links={[
              {url: "https://github.com/custardmc/opencane", icon: "i-simple-icons-github"},
              {url: "https://www.modrinth.com/mod/opencane", icon: "i-simple-icons-modrinth"},
            ]}
          />
        </div>
        <h1 class="text-4xl font-bold mb-7 mt-17">
          Cool people
        </h1>
        <People people={[
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F124838505%3Fv%3D4?width=180&height=180&format=webp", link: "https://blurryface.xyz", name: "Blurryface"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F63272345%3Fv%3D4?width=180&height=180&format=webp", link: "https://github.com/catter1", name: "Catter"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F58098422%3Fv%3D4?width=180&height=180&format=webp", link: "https://worldwidepixel.ca", name: "WorldWidePixel"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Fcodeberg.org%2Favatars%2F62cbdd8dccd084d4ceeda0f2e59540fd534c2daaa87458c70dab3cf8a7ac9600?width=180&height=180&format=webp" , link: "https://naomieow.xyz", name: "Naomi"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F42325132%3Fv%3D4?width=180&height=180&format=webp", link: "https://intergrav.xyz", name: "Devin"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Fcdn.discordapp.com%2Favatars%2F332403585973354497%2F93e3d9b90a0b40a3cf0b8812e87a555c%3Fsize%3D1024?width=180&height=180&format=webp", link: "https://linktr.ee/sarcasmtree", name: "SarcasmTree"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Fcdn.discordapp.com%2Favatars%2F234748321258799104%2Fa_51113dd1a5a47930aba2be06ef6f9b6d?width=180&height=180&format=webp", link: "https://twitter.com/terabuildsstuff", name: "Tera"},
          {image: "https://imagecdn.app/v1/images/https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1608486289325658117%2F_6UyttK8.jpg?width=180&height=180&format=webp", link: "https://twitter.com/asplatus", name: "Splatus"},
        ]}>
      </div>
    </div>
    <ScrollHint client:only="preact"/>
    <Footer client:visible/>
  </body>
</html>