---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <h1 class="text-5xl font-serif">Hi, I'm rowan.</h1>
  <p class="text-lg mt-8 mb-2 line-height-snug">
    I'm an aspiring full-stack developer interested in <strong>web design, education technology</strong> and <strong>robotics.</strong>
    I may also poke around with <strong>minecraft modding</strong> from time to time as well.
  </p>
  <p class="text-lg line-height-snug">
    I'm based in the UK and have always been fascinated by how computers work, 
    and how technology can solve real problems that real people face, so I'm always trying to come up with new projects to work on.
  </p>
</Layout>