---
import Layout from '../layouts/Layout.astro';
import SkillLevel from '../components/SkillLevel.astro';

const socials = [
  {
    name: "GitHub",
    url: "https://github.com/rowandevving",
    icon: "i-simple-icons-github"
  },
  {
    name: "Bluesky",
    url: "https://rowandev.bsky.social/",
    icon: "i-simple-icons-bluesky"
  },
  {
    name: "Youtube",
    url: "https://www.youtube.com/@rowandevving",
    icon: "i-simple-icons-youtube"
  },
  {
    name: "Modrinth",
    url: "https://modrinth.com/user/rowandev",
    icon: "i-simple-icons-modrinth"
  },

]
---

<Layout title="Home">
  <h1 class="text-5xl font-serif">Hi, I'm rowan.</h1>
  <p class="text-lg mt-8 mb-2 line-height-snug">
    I'm an aspiring full-stack developer interested in <strong>web design, education technology</strong> and <strong>robotics.</strong>
    I may also poke around with <strong>minecraft modding</strong> from time to time as well.
  </p>
  <p class="text-lg line-height-snug">
    I'm based in the UK and have always been fascinated by how computers work, 
    and how technology can solve real problems that real people face, so I'm always trying to come up with new projects to work on.
  </p>
  <ul class="mt-8 flex flex-wrap gap-5">
    {socials.map((social) => (
      <li class="group">
        <a href={social.url} class="flex items-center gap-1.5 b-b-light_0 dark:b-b-dark_0 b-solid b-b-1 text-lg"><div class={`${social.icon}
        group-hover:text-light_pink dark:group-hover:text-dark_pink transition-color`}/>{social.name}</a>
      </li>
    ))}
  </ul>
  <div class="absolute top-100vh pb-15 w-full">
    <h2 class="text-4xl font-serif">
      My Skills
    </h2>
    <div class="mt-8 w-full text-light_base grid grid-cols-3 gap-6">
      <SkillLevel icon="i-simple-icons-go" level="40%" light="#f16529" dark="#f16529">
        Go
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-html5" level="100%" light="#f16529" dark="#f16529">
        HTML
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-javascript" level="93%" light="#f16529" dark="#f16529">
        JavaScript
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-css3" level="95%" light="#f16529" dark="#f16529">
        CSS
      </SkillLevel>
      <SkillLevel icon="i-bxl-java" level="75%" light="#f16529" dark="#f16529">
        Java
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-python" level="87%" light="#f16529" dark="#f16529">
        Python
      </SkillLevel>
    </div>
  </div>
  
</Layout>