---
import Header from './components/Header';
import Footer from './components/Footer';
---

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="
      My name is Rowan and I'm an aspiring full-stack developer interested in web design, educational technology and robotics.
      I may poke around with Minecraft modding from time to time as well. Find my projects here!
    " />
    <link rel="icon" type="image" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rowan</title>
  </head>
  <body class="font-sans text-accent">
    <Header client:media="(max-width: 640px)"
      links={[
        {url: "https://rowandev.bsky.social", icon: "i-simple-icons-bluesky", name: "Bluesky"},
        {url: "https://github.com/rowandevving", icon: "i-simple-icons-github", name: "GitHub"},
        {url: "https://modrinth.com/user/rowandev", icon: "i-simple-icons-modrinth" , name: "Modrinth"},
      ]}
    />
    <slot />
    <Footer />
  </body>