---
import Nav from '../components/Nav.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';

const { title } = Astro.props

const icons = {
  home: "i-lucide-home"
}
---
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title} ~ rowan</title>
    <link rel="icon" href="/icon.png">
  </head>

  <body class="bg-light_base dark:bg-dark_base position-relative font-sans text-light_text dark:text-dark_text">
    <div class="h-screen flex">
      <div class="h-screen w-120 bg-light_0 dark:bg-dark_0 wavy">
        <div class="h-full w-70% bg-light_1 dark:bg-dark_1 wavy">
          <div class="h-full w-50% bg-light_2 dark:bg-dark_2 wavy"></div>
        </div>
      </div>
      <div class="p-15">
        <div class="flex items-center">
          <Nav icons={icons}/>
          <div class="ml-auto">
            <ThemeSwitcher/>
          </div>
        </div>
        <div class="w-1/2 h-full">
          <div class="pt-15">
            <slot/>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .wavy {
      --mask:
    radial-gradient(46.86px at calc(100% - 66px) 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/100% 120px,
    radial-gradient(46.86px at calc(100% + 36px) 50%,#0000 99%,#000 101%) calc(100% - 30px) 50%/100% 120px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    }
    
  </style>
</html>